<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search</title>
    <style>
        h1 {
            align-items: center;
            justify-content: center;
            height: 40%;
            width: 100%;
            display: flex;
            position: fixed;
            font-size:150px;
            font-family:sans-serif;
        }
      
        form {
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            display: flex;
            position: fixed;
        }
    </style>
</head>
<body>
    <!-- action attribute on the form told the browser that when the form is submitted, 
        the data should be sent to https://google.com/search  -->
    <a href="image_project0.html">Search Image</a>
    <h1>
        <span style="color: #4285F4" ;>G</span>
        <span style="color: #DB4437" ;>o</span>
        <span style="color: #F4B400" ;>o</span>
        <span style="color: #4285F4" ;>g</span>
        <span style="color: #0F9D58" ;>l</span>
        <span style="color: #DB4437" ;>e</span>
    </h1>
    <form action="https://google.com/search">
        <input style="height: 30px;border-radius: 5px;" type="text" name="q">
        <input style="height: 30px;border-radius: 5px;" type="submit" value="Google Search">
    </form>
</body>
</html>